<a href="https://colab.research.google.com/github/manojcsathreya/Pandas/blob/main/10_hierarchical_indexing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [12]:
data=pd.Series(np.random.rand(8),
               index = [['a','a','a','b','b','b','c','c'],
                        [1,2,3,1,2,3,1,2]])
data

a  1    0.921649
   2    0.292518
   3    0.300541
b  1    0.115688
   2    0.306120
   3    0.842293
c  1    0.678008
   2    0.572052
dtype: float64

In [13]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('b', 3),
            ('c', 1),
            ('c', 2)],
           )

In [14]:
data['a']

1    0.921649
2    0.292518
3    0.300541
dtype: float64

In [15]:
data['b':'c']

b  1    0.115688
   2    0.306120
   3    0.842293
c  1    0.678008
   2    0.572052
dtype: float64

In [16]:
data.loc[['a','c']]

a  1    0.921649
   2    0.292518
   3    0.300541
c  1    0.678008
   2    0.572052
dtype: float64

In [21]:
#this gives the n named index of df
data.loc[:,3]

a    0.300541
b    0.842293
dtype: float64

In [23]:
data.unstack()

          1         2         3
a  0.921649  0.292518  0.300541
b  0.115688  0.306120  0.842293
c  0.678008  0.572052       NaN

In [24]:
data.unstack().stack()

a  1    0.921649
   2    0.292518
   3    0.300541
b  1    0.115688
   2    0.306120
   3    0.842293
c  1    0.678008
   2    0.572052
dtype: float64

In [25]:
df=pd.DataFrame(
    np.arange(12).reshape(4,3),
    index=[["a","a","b","b"],
           [1,2,1,2]],
    columns=[["num","num","ver"],
             ["math","stat","geo"]])
df

     num      ver
    math stat geo
a 1    0    1   2
  2    3    4   5
b 1    6    7   8
  2    9   10  11

In [31]:
df.index.names = ['class','exam']
df.columns.names = ['field','subj']

In [32]:
df

field       num      ver
subj       math stat geo
class exam
a     1       0    1   2
      2       3    4   5
b     1       6    7   8
      2       9   10  11

In [33]:
df['num']

subj        math  stat
class exam
a     1        0     1
      2        3     4
b     1        6     7
      2        9    10

In [34]:
df.swaplevel('class','exam')

field       num      ver
subj       math stat geo
exam class
1    a        0    1   2
2    a        3    4   5
1    b        6    7   8
2    b        9   10  11

In [36]:
df

field       num      ver
subj       math stat geo
class exam
a     1       0    1   2
      2       3    4   5
b     1       6    7   8
      2       9   10  11

In [37]:
df.sort_index(level=1)

field       num      ver
subj       math stat geo
class exam
a     1       0    1   2
b     1       6    7   8
a     2       3    4   5
b     2       9   10  11

In [38]:
df.sum(level='exam')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  """Entry point for launching an IPython kernel.

field  num      ver
subj  math stat geo
exam
1        6    8  10
2       12   14  16

In [40]:
df.sum(level='field',axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  """Entry point for launching an IPython kernel.

field       num  ver
class exam
a     1       1    2
      2       7    5
b     1      13    8
      2      19   11

In [44]:
df.sum(level='subj',axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  """Entry point for launching an IPython kernel.

subj        math  stat  geo
class exam
a     1        0     1    2
      2        3     4    5
b     1        6     7    8
      2        9    10   11

In [42]:
df

field       num      ver
subj       math stat geo
class exam
a     1       0    1   2
      2       3    4   5
b     1       6    7   8
      2       9   10  11

In [45]:
data=pd.DataFrame(
    {"x":range(8),"y":range(8,0,-1),
     "a":["one","one","one","one","two",
          "two","two","two"],
     "b":[0,1,2,3,0,1,2,3]})
data

   x  y    a  b
0  0  8  one  0
1  1  7  one  1
2  2  6  one  2
3  3  5  one  3
4  4  4  two  0
5  5  3  two  1
6  6  2  two  2
7  7  1  two  3

In [46]:
#to used columns as index
data2 = data.set_index(['a','b'])
data2

       x  y
a   b
one 0  0  8
    1  1  7
    2  2  6
    3  3  5
two 0  4  4
    1  5  3
    2  6  2
    3  7  1

In [48]:
#if we also want the column to be preserved
data3 = data.set_index(['a','b'],drop=False)
data3

       x  y    a  b
a   b
one 0  0  8  one  0
    1  1  7  one  1
    2  2  6  one  2
    3  3  5  one  3
two 0  4  4  two  0
    1  5  3  two  1
    2  6  2  two  2
    3  7  1  two  3

In [55]:
#we can rever the changes of data2 as we don't a and b. We cannot reset the index of data3 as we have the columns named a and b
data2.reset_index()

     a  b  x  y
0  one  0  0  8
1  one  1  1  7
2  one  2  2  6
3  one  3  3  5
4  two  0  4  4
5  two  1  5  3
6  two  2  6  2
7  two  3  7  1