<a href="https://colab.research.google.com/github/manojcsathreya/Pandas/blob/main/11_Combining_and_merging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
d1=pd.DataFrame(
    {"key":["a","b","c","c","d","e"],
     "num1":range(6)})
d2=pd.DataFrame(
    {"key":["b","c","e","f"],
     "num2":range(4)})

In [3]:
print(d1,d2)

  key  num1
0   a     0
1   b     1
2   c     2
3   c     3
4   d     4
5   e     5   key  num2
0   b     0
1   c     1
2   e     2
3   f     3

In [4]:
pd.merge(d1,d2)

  key  num1  num2
0   b     1     0
1   c     2     1
2   c     3     1
3   e     5     2

In [5]:
pd.merge(d1,d2, on='key')

  key  num1  num2
0   b     1     0
1   c     2     1
2   c     3     1
3   e     5     2

In [6]:
d3=pd.DataFrame(
    {"key1":["a","b","c","c","d","e"],
     "num1":range(6)})
d4=pd.DataFrame(
    {"key2":["b","c","e","f"],
     "num2":range(4)})

In [7]:
d3

  key1  num1
0    a     0
1    b     1
2    c     2
3    c     3
4    d     4
5    e     5

In [8]:
d4

  key2  num2
0    b     0
1    c     1
2    e     2
3    f     3

In [9]:
pd.merge(d3,d4,left_on='key1',right_on='key2')

  key1  num1 key2  num2
0    b     1    b     0
1    c     2    c     1
2    c     3    c     1
3    e     5    e     2

In [10]:
pd.merge(d1,d2,how='outer')

  key  num1  num2
0   a   0.0   NaN
1   b   1.0   0.0
2   c   2.0   1.0
3   c   3.0   1.0
4   d   4.0   NaN
5   e   5.0   2.0
6   f   NaN   3.0

In [11]:
pd.merge(d1,d2,how='left')

  key  num1  num2
0   a     0   NaN
1   b     1   0.0
2   c     2   1.0
3   c     3   1.0
4   d     4   NaN
5   e     5   2.0

In [12]:
pd.merge(d1,d2,how='right')

  key  num1  num2
0   b   1.0     0
1   c   2.0     1
2   c   3.0     1
3   e   5.0     2
4   f   NaN     3

In [13]:
df1=pd.DataFrame(
    {"key":["a","b","c","c","d","e"],
     "num1":range(6),
     "count":["one","three","two",
              "one","one","two"]})
df2=pd.DataFrame(
    {"key":["b","c","e","f"],
     "num2":range(4),
     "count":["one","two","two","two"]})

In [14]:
pd.merge(df1,df2,on=['key','count'],how='outer')

  key  num1  count  num2
0   a   0.0    one   NaN
1   b   1.0  three   NaN
2   c   2.0    two   1.0
3   c   3.0    one   NaN
4   d   4.0    one   NaN
5   e   5.0    two   2.0
6   b   NaN    one   0.0
7   f   NaN    two   3.0

In [15]:
pd.merge(df1, df2, on="key", how='outer')

  key  num1 count_x  num2 count_y
0   a   0.0     one   NaN     NaN
1   b   1.0   three   0.0     one
2   c   2.0     two   1.0     two
3   c   3.0     one   1.0     two
4   d   4.0     one   NaN     NaN
5   e   5.0     two   2.0     two
6   f   NaN     NaN   3.0     two

In [16]:
pd.merge(df1, df2, 
         on='key', 
         suffixes=('_data1', '_data2'))

  key  num1 count_data1  num2 count_data2
0   b     1       three     0         one
1   c     2         two     1         two
2   c     3         one     1         two
3   e     5         two     2         two

Merging on Index

In [17]:
df1=pd.DataFrame(
    {"letter":["a","a","b",
               "b","a","c"],
     "num":range(6)}) 
df2=pd.DataFrame(
    {"value":[3,5,7]},
    index=["a","b","e"])

In [18]:
df1

  letter  num
0      a    0
1      a    1
2      b    2
3      b    3
4      a    4
5      c    5

In [19]:
df2

   value
a      3
b      5
e      7

In [20]:
pd.merge(df1,df2,left_on='letter',right_index=True)

  letter  num  value
0      a    0      3
1      a    1      3
4      a    4      3
2      b    2      5
3      b    3      5

In [21]:
right=pd.DataFrame(
    [[1,2],[3,4],[5,6]],
    index=["a","c","d"],
    columns=["Tom","Tim"])
left=pd.DataFrame(
    [[7,8],[9,10],[11,12],[13,14]],
    index=["a","b","e","f"],
    columns=["Sam","Kim"])

In [22]:
right

   Tom  Tim
a    1    2
c    3    4
d    5    6

In [23]:
left

   Sam  Kim
a    7    8
b    9   10
e   11   12
f   13   14

In [24]:
pd.merge(right,left,right_index = True, left_index=True,how = 'outer' )

   Tom  Tim   Sam   Kim
a  1.0  2.0   7.0   8.0
b  NaN  NaN   9.0  10.0
c  3.0  4.0   NaN   NaN
d  5.0  6.0   NaN   NaN
e  NaN  NaN  11.0  12.0
f  NaN  NaN  13.0  14.0

In [25]:
left

   Sam  Kim
a    7    8
b    9   10
e   11   12
f   13   14

In [26]:
right

   Tom  Tim
a    1    2
c    3    4
d    5    6

In [27]:
left.join(right)

   Sam  Kim  Tom  Tim
a    7    8  1.0  2.0
b    9   10  NaN  NaN
e   11   12  NaN  NaN
f   13   14  NaN  NaN

In [28]:
right=pd.DataFrame(
    [[1,2],[3,4],[5,6]],
    index=["a","c","d"],
    columns=["Tom","Tim"])
left=pd.DataFrame(
    [[7,8],[9,10],[11,12],[13,14]],
    index=["a","b","e","f"],
    columns=["Sam","Kim"])

In [29]:
#Concatenating Along an Axis

In [30]:
seq= np.arange(20).reshape((4, 5))

In [31]:
np.concatenate([seq,seq], axis=1)

array([[ 0,  1,  2,  3,  4,  0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19, 15, 16, 17, 18, 19]])

In [32]:
np.concatenate([seq,seq], axis=0)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [33]:
data1 = pd.Series(
    [0, 1], index=['a', 'b'])
data2 = pd.Series(
    [2,3,4], index=['c','d','e'])
data3 = pd.Series(
    [5, 6], index=['f', 'g'])

In [34]:
pd.concat([data1,data2,data3])

a    0
b    1
c    2
d    3
e    4
f    5
g    6
dtype: int64

In [35]:
pd.concat([data1, data2, data3], axis=1)

     0    1    2
a  0.0  NaN  NaN
b  1.0  NaN  NaN
c  NaN  2.0  NaN
d  NaN  3.0  NaN
e  NaN  4.0  NaN
f  NaN  NaN  5.0
g  NaN  NaN  6.0

In [38]:
data4= pd.Series([10,11,12], 
                 index=['a','b',"c"])
data4

a    10
b    11
c    12
dtype: int64

In [39]:
data1

a    0
b    1
dtype: int64

In [42]:
pd.concat([data1,data4],join="inner",axis=1)

   0   1
a  0  10
b  1  11

In [43]:
x=pd.concat([data1, data2, data4], 
            keys=['one', 'two','three'])

In [44]:
x

one    a     0
       b     1
two    c     2
       d     3
       e     4
three  a    10
       b    11
       c    12
dtype: int64

In [45]:
x=pd.concat([data1, data2, data4], 
            axis=1,
            keys=['one', 'two', 'three'])
x

   one  two  three
a  0.0  NaN   10.0
b  1.0  NaN   11.0
c  NaN  2.0   12.0
d  NaN  3.0    NaN
e  NaN  4.0    NaN