<a href="https://colab.research.google.com/github/manojcsathreya/Pandas/blob/main/15_working_with_categorical_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np

In [2]:
data=pd.Series(["Tim","Tom","Sam","Sam"]*3)
data

0     Tim
1     Tom
2     Sam
3     Sam
4     Tim
5     Tom
6     Sam
7     Sam
8     Tim
9     Tom
10    Sam
11    Sam
dtype: object

In [3]:
data.unique()

array(['Tim', 'Tom', 'Sam'], dtype=object)

In [4]:
pd.unique(data)

array(['Tim', 'Tom', 'Sam'], dtype=object)

In [6]:
data.value_counts()

Sam    6
Tim    3
Tom    3
dtype: int64

In [7]:
values=pd.Series([0,1,0,0]*3)

In [9]:
#mapping the names to values
names=pd.Series(["Tim","Sam"])
names.take(values)

0    Tim
1    Sam
0    Tim
0    Tim
0    Tim
1    Sam
0    Tim
0    Tim
0    Tim
1    Sam
0    Tim
0    Tim
dtype: object

Categorical Type in Pandas

In [10]:
data

0     Tim
1     Tom
2     Sam
3     Sam
4     Tim
5     Tom
6     Sam
7     Sam
8     Tim
9     Tom
10    Sam
11    Sam
dtype: object

In [11]:
N=len(data)

In [12]:
df=pd.DataFrame(
    {"name":data,
     "num":np.arange(N),
     "score":np.random.randint(40,100,
                               size=N),
     "weight":np.random.uniform(50,70,
                                size=N)},
    columns=["num","name","score","weight"])

In [14]:
df

    num name  score     weight
0     0  Tim     97  52.265543
1     1  Tom     91  63.539485
2     2  Sam     40  66.831569
3     3  Sam     57  64.713370
4     4  Tim     68  51.322390
5     5  Tom     40  58.727425
6     6  Sam     73  50.427524
7     7  Sam     71  58.469941
8     8  Tim     43  59.284510
9     9  Tom     86  57.184836
10   10  Sam     87  51.869243
11   11  Sam     86  54.390891

In [16]:
type(df['name'])

pandas.core.series.Series

In [18]:
#converting a series datatype to categorical variable
name_cat = df['name'].astype('category')
name_cat

0     Tim
1     Tom
2     Sam
3     Sam
4     Tim
5     Tom
6     Sam
7     Sam
8     Tim
9     Tom
10    Sam
11    Sam
Name: name, dtype: category
Categories (3, object): ['Sam', 'Tim', 'Tom']

In [21]:
x = name_cat.values

In [22]:
x.categories

Index(['Sam', 'Tim', 'Tom'], dtype='object')

In [23]:
x.codes

array([1, 2, 0, 0, 1, 2, 0, 0, 1, 2, 0, 0], dtype=int8)

In [24]:
#to directly convert the column inside the dataframe to category
df['name'] = df['name'].astype('category')

In [25]:
df.name

0     Tim
1     Tom
2     Sam
3     Sam
4     Tim
5     Tom
6     Sam
7     Sam
8     Tim
9     Tom
10    Sam
11    Sam
Name: name, dtype: category
Categories (3, object): ['Sam', 'Tim', 'Tom']

In [30]:
#to directly create a categorical variable
data_cat = pd.Categorical(list('abcde'))
data_cat

['a', 'b', 'c', 'd', 'e']
Categories (5, object): ['a', 'b', 'c', 'd', 'e']

In [31]:
pd.Categorical(['banana','kiwi','apple','apple','kiwi'])

['banana', 'kiwi', 'apple', 'apple', 'kiwi']
Categories (3, object): ['apple', 'banana', 'kiwi']

In [32]:
people=["baby", "child", "young", "old"]
codes=[0,1,2,3,1,0,0]

In [33]:
people_cat=pd.Categorical.from_codes(
    codes,people)
people_cat

['baby', 'child', 'young', 'old', 'child', 'baby', 'baby']
Categories (4, object): ['baby', 'child', 'young', 'old']

In [34]:
#we can order the dataframe
people_cat=pd.Categorical.from_codes(
    codes,people,ordered=True)
people_cat

['baby', 'child', 'young', 'old', 'child', 'baby', 'baby']
Categories (4, object): ['baby' < 'child' < 'young' < 'old']

In [35]:
data=np.random.randn(1000)

In [36]:
interval=pd.qcut(data,4)
interval

[(0.683, 2.934], (0.00653, 0.683], (-0.682, 0.00653], (-0.682, 0.00653], (0.00653, 0.683], ..., (-0.682, 0.00653], (-3.545, -0.682], (-3.545, -0.682], (-0.682, 0.00653], (0.683, 2.934]]
Length: 1000
Categories (4, interval[float64, right]): [(-3.545, -0.682] < (-0.682, 0.00653] < (0.00653, 0.683] <
                                           (0.683, 2.934]]

In [37]:
type(interval)

pandas.core.arrays.categorical.Categorical

In [38]:
interval=pd.qcut(data,4,labels=["Q1","Q2",
                                "Q3","Q4"])
interval

['Q4', 'Q3', 'Q2', 'Q2', 'Q3', ..., 'Q2', 'Q1', 'Q1', 'Q2', 'Q4']
Length: 1000
Categories (4, object): ['Q1' < 'Q2' < 'Q3' < 'Q4']

In [39]:
interval=pd.Series(interval,name="quarter")

In [40]:
interval

0      Q4
1      Q3
2      Q2
3      Q2
4      Q3
       ..
995    Q2
996    Q1
997    Q1
998    Q2
999    Q4
Name: quarter, Length: 1000, dtype: category
Categories (4, object): ['Q1' < 'Q2' < 'Q3' < 'Q4']

In [44]:
pd.Series(data).groupby(interval).agg(['count','min','max']).reset_index()

  quarter  count       min       max
0      Q1    250 -3.544473 -0.683010
1      Q2    250 -0.682045  0.006027
2      Q3    250  0.007031  0.682987
3      Q4    250  0.683242  2.934049

The categorical methods

In [46]:
s = pd.Series(['a','b','c','d']*2)

In [47]:
s_ct = s.astype('category')

In [48]:
#The cat attribute allows us to access categorical methods. For example, letâ€™s use the codes method to see the codes of values in data.

In [49]:
s_ct.cat.categories

Index(['a', 'b', 'c', 'd'], dtype='object')

In [51]:
#if we want to add more categories:
new_ct = ['a','b','c','d','e']
s_ct.cat.set_categories(new_ct)

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (5, object): ['a', 'b', 'c', 'd', 'e']

In [52]:
s2_ct = s_ct[s_ct.isin(['a','b'])]

In [53]:
s2_ct

0    a
1    b
4    a
5    b
dtype: category
Categories (4, object): ['a', 'b', 'c', 'd']

In [54]:
s2_ct.cat.remove_unused_categories()

0    a
1    b
4    a
5    b
dtype: category
Categories (2, object): ['a', 'b']

Creating a dummy variable

In [55]:
s_ct

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): ['a', 'b', 'c', 'd']

In [56]:
pd.get_dummies(s_ct)

   a  b  c  d
0  1  0  0  0
1  0  1  0  0
2  0  0  1  0
3  0  0  0  1
4  1  0  0  0
5  0  1  0  0
6  0  0  1  0
7  0  0  0  1