<a href="https://colab.research.google.com/github/manojcsathreya/Pandas/blob/main/16_working_with_text_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
'hello'.upper()

'HELLO'

In [3]:
data=["tim","Kate","SUSan",np.nan,"aLEX"]

In [6]:
name = pd.Series(data)
name

0      tim
1     Kate
2    SUSan
3      NaN
4     aLEX
dtype: object

In [8]:
name.str.capitalize()

0      Tim
1     Kate
2    Susan
3      NaN
4     Alex
dtype: object

In [9]:
name.str.lower()

0      tim
1     kate
2    susan
3      NaN
4     alex
dtype: object

In [11]:
name.str.startswith("a")

0    False
1    False
2    False
3      NaN
4     True
dtype: object

In [12]:
df=pd.DataFrame(
    np.random.randn(3,2),
    columns=["Column A","Column B"],
    index=range(3))
df

   Column A  Column B
0  0.075239 -0.140966
1 -0.304970 -1.322191
2 -0.724865 -0.465814

In [13]:
df.columns

Index(['Column A', 'Column B'], dtype='object')

In [14]:
df.columns.str.lower().str.replace(" ","_")

Index(['column_a', 'column_b'], dtype='object')

In [15]:
s=pd.Series(["a_b_c","c_d_e",np.nan,"f_g_h"])
s

0    a_b_c
1    c_d_e
2      NaN
3    f_g_h
dtype: object

In [17]:
s.str.split("_").str[1]

0      b
1      d
2    NaN
3      g
dtype: object

In [18]:
s.str.split("_",expand=True,n=1)

     0    1
0    a  b_c
1    c  d_e
2  NaN  NaN
3    f  g_h

In [19]:
money=pd.Series(["15","-$20","$30000"])
money

0        15
1      -$20
2    $30000
dtype: object

In [21]:
money.str.replace('-\$','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

0        15
1        20
2    $30000
dtype: object