In [3]:
import pandas as pd
import numpy as np

In [4]:
obj = pd.Series(np.arange(5), index = ['a','b','c','d','e'])

In [5]:
obj

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [6]:
#indexing
obj["c"]

2

In [7]:
obj[2]

2

In [8]:
obj[0:3]

a    0
b    1
c    2
dtype: int64

In [9]:
#you might think of indexing upto d. but thats not the case
obj['a':'d']

a    0
b    1
c    2
d    3
dtype: int64

In [10]:
#it indexes all the way upto and including the end index. to retrive first 3 elements using index
obj['a':'c']

a    0
b    1
c    2
dtype: int64

In [11]:
obj[['a','c']]

a    0
c    2
dtype: int64

In [12]:
obj[[0,2]]

a    0
c    2
dtype: int64

In [13]:
obj[obj<2]

a    0
b    1
dtype: int64

In [14]:
obj['b':'c'] = 5

In [15]:
obj

a    0
b    5
c    5
d    3
e    4
dtype: int64

In [16]:
#DataFrame indexing
data = pd.DataFrame(np.arange(16).reshape(4,4),
                    index = ['London','Paris',
                             'Berlin','istanbul'],
                    columns = ['one','two','three','four'])
data

          one  two  three  four
London      0    1      2     3
Paris       4    5      6     7
Berlin      8    9     10    11
istanbul   12   13     14    15

In [17]:
data[["one","two"]]

          one  two
London      0    1
Paris       4    5
Berlin      8    9
istanbul   12   13

In [18]:
data[:3]

        one  two  three  four
London    0    1      2     3
Paris     4    5      6     7
Berlin    8    9     10    11

In [19]:
data[data["four"]>7]

          one  two  three  four
Berlin      8    9     10    11
istanbul   12   13     14    15

In [11]:
#to assign values for values to all columns and rows
data[data<5]=0

In [12]:
data

          one  two  three  four
London      0    0      0     0
Paris       0    5      6     7
Berlin      8    9     10    11
istanbul   12   13     14    15

In [13]:
## Selecting between iloc and loc

In [15]:
#you can use iloc when you do not know the index name
data.iloc[1]

one      0
two      5
three    6
four     7
Name: Paris, dtype: int64

In [16]:
#to select values from the specific columms
data.iloc[1,[0,1,2]]

one      0
two      5
three    6
Name: Paris, dtype: int64

In [17]:
#Multiple rows and multiple columns
data.iloc[[1,2],[1,2,3]]

        two  three  four
Paris     5      6     7
Berlin    9     10    11

In [23]:
data.loc["London",["one","two"]]

one    0
two    1
Name: London, dtype: int64

In [24]:
data.loc[:"Paris",["two","three"]]

        two  three
London    1      2
Paris     5      6

In [26]:
data.iloc[-1]

one      12
two      13
three    14
four     15
Name: istanbul, dtype: int64