<a href="https://colab.research.google.com/github/manojcsathreya/Pandas/blob/main/3_Pandas_Useful_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Reindex Method

In [2]:
import pandas as pd
import numpy as np
s=pd.Series([1,2,3,4],
            index=["a","b","c","d"])

In [3]:
s

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
#Reindex helps in re organizing the rows.
s2=s.reindex(["b","d","a","c","e"])
s2

b    2.0
d    4.0
a    1.0
c    3.0
e    NaN
dtype: float64

In [7]:
s3 = pd.DataFrame(s2.values, index = [1,2,3,4,5])
s3

     0
1  2.0
2  4.0
3  1.0
4  3.0
5  NaN

In [8]:
s3=pd.Series(["blue","yellow","purple"],
             index=[0,2,4])
s3

0      blue
2    yellow
4    purple
dtype: object

In [9]:
#we can use reindex method to fowardfill the missing values. This is temporary change
s3.reindex(range(6),method="ffill")

0      blue
1      blue
2    yellow
3    yellow
4    purple
5    purple
dtype: object

In [10]:
s3

0      blue
2    yellow
4    purple
dtype: object

In [13]:
df=pd.DataFrame(np.arange(9).reshape(3,3),
                index=["a","c","d"],
                columns=["Tim","Tom","Kate"])
df

   Tim  Tom  Kate
a    0    1     2
c    3    4     5
d    6    7     8

In [14]:
df2=df.reindex(["d","c","b","a"])
df2

   Tim  Tom  Kate
d  6.0  7.0   8.0
c  3.0  4.0   5.0
b  NaN  NaN   NaN
a  0.0  1.0   2.0

In [15]:
names=["Kate","Tim","Tom"]
df.reindex(columns=names)

   Kate  Tim  Tom
a     2    0    1
c     5    3    4
d     8    6    7

In [16]:
s=pd.Series(np.arange(5.),
            index=["a","b","c","d","e"])
s

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [17]:
new_s=s.drop("b")
new_s

a    0.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [18]:
s.drop(['c','d'])

a    0.0
b    1.0
e    4.0
dtype: float64

In [19]:
data=pd.DataFrame(np.arange(16).reshape(4,4),
                  index=["Kate","Tim",
                         "Tom","Alex"],
                  columns=list("ABCD"))
data

       A   B   C   D
Kate   0   1   2   3
Tim    4   5   6   7
Tom    8   9  10  11
Alex  12  13  14  15

In [20]:
data.drop(["Tim","Kate"])

       A   B   C   D
Tom    8   9  10  11
Alex  12  13  14  15

In [21]:
data

       A   B   C   D
Kate   0   1   2   3
Tim    4   5   6   7
Tom    8   9  10  11
Alex  12  13  14  15

In [22]:
data.drop("A")

KeyError: ignored

In [23]:
data.drop("A",axis = 1)

       B   C   D
Kate   1   2   3
Tim    5   6   7
Tom    9  10  11
Alex  13  14  15

In [25]:
data.mean(axis =1)

Kate     1.5
Tim      5.5
Tom      9.5
Alex    13.5
dtype: float64

In [26]:
data.mean(axis = 0)

A    6.0
B    7.0
C    8.0
D    9.0
dtype: float64

In [27]:
data.mean(axis = 0)["A"]

6.0