<a href="https://colab.research.google.com/github/manojcsathreya/Pandas/blob/main/6_Pandas_Descriptive_Statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame(
    [[2.4,np.nan],[6.3,-5.4],
     [np.nan,np.nan],[0.75,-1.3]],
    index=["a","b","c","d"],
    columns=["one","two"])
df

    one  two
a  2.40  NaN
b  6.30 -5.4
c   NaN  NaN
d  0.75 -1.3

In [3]:
#To calculate the sum of columns
df.sum()

one    9.45
two   -6.70
dtype: float64

In [4]:
#to calculate the sum of rows
df.sum(axis=1)

a    2.40
b    0.90
c    0.00
d   -0.55
dtype: float64

In [5]:
#Calculating the mean of the columns
df.mean()

one    3.15
two   -3.35
dtype: float64

In [6]:
#calculating the mean of the rows
df.mean(axis=1)

a    2.400
b    0.450
c      NaN
d   -0.275
dtype: float64

In [7]:
#by default the missing datas are not taken into account. If you want the missing datas to be also included while calculating mean
df.mean(axis=1, skipna=False)

a      NaN
b    0.450
c      NaN
d   -0.275
dtype: float64

Using the above method, you can figure out what rows are having atleast one null value

In [9]:
#to see the max and min indexes of each columns
print(df.idxmax())
print(df.idxmin())

one    b
two    d
dtype: object
one    d
two    b
dtype: object

In [11]:
#to find the cumilative sums
df.cumsum(axis=1)

    one   two
a  2.40   NaN
b  6.30  0.90
c   NaN   NaN
d  0.75 -0.55

In [14]:
df.describe()

         one       two
count  3.000  2.000000
mean   3.150 -3.350000
std    2.850  2.899138
min    0.750 -5.400000
25%    1.575 -4.375000
50%    2.400 -3.350000
75%    4.350 -2.325000
max    6.300 -1.300000

In [20]:
#finding the correlation between the columns
iris = pd.read_csv('https://raw.githubusercontent.com/TirendazAcademy/PANDAS-TUTORIAL/main/DataSets/iris.data',header=None)

In [21]:
iris.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [22]:
iris.columns=['sepal_length','sepal_width',
             'petal_length','petal_width',
             'class']

In [23]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [26]:
iris['sepal_length'].corr(iris['sepal_width'])

-0.10936924995064937

In [27]:
#to find the correlation between the entire columns
iris.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.109369      0.871754     0.817954
sepal_width      -0.109369     1.000000     -0.420516    -0.356544
petal_length      0.871754    -0.420516      1.000000     0.962757
petal_width       0.817954    -0.356544      0.962757     1.000000

In [28]:
iris.cov()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      0.685694    -0.039268      1.273682     0.516904
sepal_width      -0.039268     0.188004     -0.321713    -0.117981
petal_length      1.273682    -0.321713      3.113179     1.296387
petal_width       0.516904    -0.117981      1.296387     0.582414

In [29]:
#to find the correlation co-efficient of a column wrt all other columns in the dataset
iris.corrwith(iris['petal_length'])

sepal_length    0.871754
sepal_width    -0.420516
petal_length    1.000000
petal_width     0.962757
dtype: float64

In [30]:
s=pd.Series(["b","b","b","b","c",
             "c","a","a","a"])
s

0    b
1    b
2    b
3    b
4    c
5    c
6    a
7    a
8    a
dtype: object

In [31]:
#to get the number of unique elements
s.unique()

array(['b', 'c', 'a'], dtype=object)

In [32]:
#to get the values and their frequencies,
s.value_counts()

b    4
a    3
c    2
dtype: int64

In [35]:
#To find the matching values in the data frame
x = s.isin(['b'])
x

0     True
1     True
2     True
3     True
4    False
5    False
6    False
7    False
8    False
dtype: bool

In [36]:
s[x]

0    b
1    b
2    b
3    b
dtype: object

In [37]:
#in single line,
s[s.isin(['b','c'])]

0    b
1    b
2    b
3    b
4    c
5    c
dtype: object